.blogPost img{max-width: 100%;}
.blogPost{overflow: hidden;}
h1{margin: 3rem 0;}
h3{text-transform: uppercase; line-height: 1.5rem; margin: 1.5rem 0;}
.comments *{text-align: left; color: #25292c;}

h2{font-size:13px; text-transform: uppercase; font-family: 'proxima_novaextrabold'; margin:2rem 0;}

#social{list-style: none; margin: 0; padding: 0;}
#social li{display: inline-block;}
 

 