<app-loader *ngIf="loading"></app-loader>
<app-header></app-header>


<div class="container">
    <div class="row">
        <div class="col-12">
            <div *ngIf="post" class="blogPost" style="max-width: 512px; margin: auto; text-align: left;">
                
                <div style="height: 300px; margin-bottom: 3rem; background-size: cover;" [style.background-image]="safeUrl(post.thumb)"></div>
                <h1 [innerHtml]="post.title"></h1>
                
                <p style="margin: 0 0 3rem 0;"><i>by:</i> <b>{{post.author.FirstName}} {{post.author.LastName}}</b><br>
                    <span class="blogdate silver-color">{{post.date.month}}/{{post.date.day}}/{{post.date.year}}</span>
                </p>
                
                <div id="postContent"[innerHtml]="post.content"></div>
                
                <p style="margin: 2rem 0;" class="silver-color">Author</p>
                <img width="40px;" src="{{post.author.thumb}}">
                <p style="margin: 1rem 0;"><b>{{post.author.FirstName}} {{post.author.LastName}}</b><br><span class="blogdate silver-color">{{post.date.month}}/{{post.date.day}}/{{post.date.year}}</span></p>  
                
                <div class="silver pad comments">
                    <hr>
                        <h3 *ngIf="post.comments">Responses to <i>"<span [innerHtml]="post.title"></span>"</i></h3>
                        <div class="comment" *ngFor="let comment of post.comments">
                            <p>{{comment.comment_author}} - {{comment.comment_date | date}}</p>
                            <p  [innerHtml]="comment.comment_content"></p>
                               <hr>
                            
                           
                        </div>
                        
                         <h3 style="margin-top: 3rem;">Leave a Reply</h3>
                            <textarea [(ngModel)]="reply" class="form-control"></textarea>
                            <button (click)="dropComment(reply)" style="color: white; margin-top:1rem; float:right;" class="btn btn-sm orange">Post Reply</button>
                            <div style="clear: both;"></div>
                 
                </div>
                
 
                <h2 style="margin:8rem 0 5rem 0;">You May Also Like...</h2>
                
                
                
            </div>
        </div>
        
        <div class="indent">
        <div class="row">
            <div class="col-12">
               
                    <div style="min-height: 18rem;" class="row ">
                        
                        <div *ngFor="let post of more" style="margin-bottom: 2rem;" class="col-lg-6">
                            <div class="row">
                                <div style="background-size: cover;" [style.background-image]="safeUrl(post.thumb)" class="col-6"><a  [routerLink]="['/blog/'+post.slug]"></a></div>
                                <div class="col-6">
                                    
                                     
                                    <p><a  [routerLink]="['/blog/'+post.slug]"><b [innerHtml]="post.title"></b></a></p>
                                    <p [innerHtml]="post.excerpt"></p>                      
                                   
                                    
                                      <img  class="img-fluid" style="width: 3rem; margin-right: 0.5rem; float: left;" src="{{post.author.thumb}}">
                                    <p><b>{{post.author.FirstName}} {{post.author.LastName}}</b><br><span class="blogdate">{{post.date.month}}/{{post.date.day}}/{{post.date.year}}</span></p> 
                                </div>
                            </div>
                        </div>
                         
                    </div>      
                    
                            
                    
                           
            </div>
        </div>
    </div>



    </div>
</div>


<app-footer></app-footer>
