<div style="height: 8rem;"></div>
<div class="container-fluid">
    <div class="row ">
        <div style="background: url('http://13.55.59.91/assets/contact_back.jpg'); background-size: cover;" class="col-md-5">
            <div style="padding: 3rem;">
                <div class="row">
                    <div class="col-5"> <img style="width: 5rem;" src="http://13.55.59.91/logo.png"></div>
                    <div class="col-7">
                        
                        <h4>Contact</h4>
                        <p>19 North St, Adelaide<br> 
                            SA 5000, Australia<br>
                            info@noigroup.com</p>
                        <a href="tel:+61-(0)8-8211-6388"><h3><span>T</span> +61 (0)8 8211 6388</h3></a>
                        <a href="tel:+61-(0)8-8211-8909"><h3><span>T</span> +61 (0)8 8211 8909</h3></a>
                        
                        <h4 style="margin-top: 3rem;">BUSINESS HOURS</h4>
                                Please contact us anytime<br>
                        <b class="bor">Tuesday to Friday</b> 8:30am - 5:30pm <br>
                        (Australian Central Standard Time)<br>       
                    </div>
                </div>
            </div>
        </div>
         
        <div style="background: #f9f9f9;" class="col-md-7">
            <div style="padding: 3rem;">
            <div class="row">
                <div class="col-md-6">
                    <h4>Others</h4>
                    <ul>
                        <li><a [routerLink]="['/disclaimer']">disclaimer</a></li>
                        <li><a [routerLink]="['/privacy']">privacy statement</a></li>
                        <li><a [routerLink]="['/terms']">terms & conditions</a></li>
                    </ul>                 
                </div>
                <div class="col-md-6">
                    <h4>Newsletter</h4>
                    <p>get the latest update</p>
                    <form>
                        <div class="form-group">
                        <input type="email" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder="email">
                        <button type="submit" style="width: 100%; margin-top: 0.5rem;" class="btn orange btn-primary">Send</button>
                        </div>
                    </form>
                </div>
            </div>
            <div  class="row">
                    <div class="col-6">
                        <h5>FOLLOW US</h5>
                        <ul id="social">
                            <li><a href="https://www.facebook.com/noigroup"> <button class="btn btn-sm img orange btn-primary" style="cursor: pointer; width: 37px;"><i class="fa fa-facebook" aria-hidden="true"></i></button></a></li>
                            <li><button class="btn btn-sm img orange btn-primary" style="cursor: pointer"><i class="fa fa-instagram" aria-hidden="true"></i></button></li>
                            <li><a href="https://twitter.com/noigroup"><button  class="btn btn-sm img orange btn-primary" style="cursor: pointer"><i class="fa fa-twitter" aria-hidden="true"></i></button></a></li>
                            <li><button  class="btn btn-sm img orange btn-primary" style="cursor: pointer"><i class="fa fa-youtube-play" aria-hidden="true"></i></button></li>
                            
                        </ul>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="container">
    <div style="padding: 1rem 0;">
    <div class="row">
        <div class="col-sm-6">&copy; 2017 NOI Group. All Rights Reserved</div>
        <!--<div style="text-align: right;" class="col-sm-6"> EN / POR</div>-->
        </div>
    </div>
</div>