 
h4{text-transform: uppercase; font-family: 'proxima_nova_rgbold'; font-size: 1rem; letter-spacing: 0; margin-bottom: 1rem;}
h2{font-size: 1.25rem;font-family: 'proxima_nova_rgbold';  margin-bottom: 0.25rem;}
h5{font-family: 'proxima_novaextrabold'; font-size: 1rem; margin-top: 1rem;}

h3 span{font-family: 'proxima_nova_rgbold';}
ul{list-style: none; margin: 0; padding:0;}
#social{margin-top: 1rem; padding-bottom: 2rem;}
#social li{margin-bottom:0.5rem; float: left; margin-right: 0.5rem;}

#links li{font-size: 0.75rem; }
#links li a{font-family: 'proxima_novalight'; }
#links{margin-bottom: 2rem;}
a{color: black; text-decoration: none;}

