#courses{margin-bottom: 5rem;}
#dots1{width: 6rem; position: absolute; top:-4rem; right:0;}
#dots2{width: 6rem; position: absolute; bottom:-2rem; left:-1rem; z-index: 1000;}

h3{color: black; font-family: 'proxima_novaextrabold'; font-size: 1.25rem; text-transform: uppercase; margin: 1rem 0 0.5rem 0; text-align: center;}
.bio{background: #fafafa; padding: 2rem 2rem;}

.pane{margin-bottom: 1.5rem;}