<app-loader *ngIf="loading"></app-loader>
 <app-dashboard-menu></app-dashboard-menu>
 <div id="menufix">
 <app-header></app-header>
 
 <div class="container">
     <div class="row">
         
         <div class="col-12">
             <h3>Page Edit</h3>
         </div>
     </div>
     
            <form (ngSubmit)="edit(obj)">
              <div class="form-group pad">
                <label>Title</label>
                <input type="text" class="form-control" name="title" placeholder="Title" [(ngModel)]="obj.Title">
              </div>
              
               <div class="form-group pad">
                <label>Slug</label>
                <input type="text" class="form-control" name="slug" placeholder="Slug" [(ngModel)]="obj.Slug">
              </div>
 
    
              <div class="form-group pad">
                <label>Content</label>
                <div [(froalaModel)]="obj.Content" [froalaEditor]></div>
            </div> 
    
    <button type="submit" class="btn orange btn-primary">Save</button>
</form>
            
        <!--   <pre>{{product | json}}</pre>    -->       
            
             
        
     
 </div>
 
 <app-footer></app-footer>
 
 </div>