#terms{
    margin-top: 100px;
    margin-left: 10%;
    margin-right: 10%;
    h1{
        font-size: 4rem;
        line-height: 5rem;
        bottom-right: 1rem;
    }
    p{
        font-size: 2rem;
        line-height: 3rem;
    }
}