<app-loader *ngIf="loading"></app-loader>
<app-header></app-header>
<div id="terms">
    <h1>noiterms</h1>
    <p>
        <strong>Terms and Conditions</strong> <br />
        All our prices are quoted in Australian dollars (AUD) and are the Recommended Retail Price (RRP) unless indicated, for example in the case of a discounted offer.
        Where possible, and provided you select and ‘set’ your local currency, we will display the estimated price in the currency you set at the exchange rate between that currency and AUD as at the time of placing the order. The transaction will appear on your account in your local currency at the exchange rate between your local currency and AUD as at the time of the transaction being processed by your credit card provider and at the rate your credit card provider applies at that time. We are not responsible for any variations in currency conversion due to your credit card provider using a different rate.
        For sales within Australia all of our products and services attract Goods and Services Tax (GST) of 10%.
        <br /><br />
        <strong>Electronic products</strong><br />
        Purchase of electronic products such as ebooks and online software are an automated process and will be available to you immediately via a link sent to your email account. Any delays would be due to electronic server disruptions.
        <br /><br />
        <strong>Non-electronic products</strong><br />
        Complete orders are usually processed within two business days. Incomplete orders will not be considered ‘complete’ until all required information is received. 
        Orders can be made at any time, but will be received during standard business hours - 9am to 5pm, Monday to Friday, excluding public holidays. Delays can be expected during official business holidays and please note the office runs on minimal staff on Mondays. 
        Please check the recipient’s address carefully as we can not accept responsibility for deliveries with an incorrect or incomplete address. 
        In the unlikely event that an order is not received within the stated delivery time, please contact us to make arrangements.
        <br /><br />
        <strong>Payment</strong><br />
        All payments are to be made in Australian dollars (AUD). VISA, Bankcard, MasterCard, Diners and American Express are accepted.
        Payment is required before goods are sent.
        A Direct Bank Deposit in $AUD can be arranged by contacting us for our bank account details. We will require bank confirmation via email or fax before your order will be despatched. Bank transfer charges will apply. Any overseas Bank Drafts/Cheques must be in $AUD dollars.
        Please note NOI accepts no responsibility for cash being sent in the mail.
        <br /><br />
        <strong>Cancellation policy</strong><br />
        Once a payment transaction for an electronic product has been successfully processed, the order cannot be cancelled.
        Most orders of non-electronic products are despatched within 24 hours of the order being received. You can only cancel your order if the goods have not been despatched so please contact us as soon as possible by phone, fax, email or all of the above. If the order has not been despatched we will refund the order amount to your credit card, minus an AUD processing fee. If your order is already being delivered, we are unable to refund your money.
        <br /><br />
        <strong>Delivery terms</strong><br />
        All local and international orders welcome.
        Purchase of electronic products such as ebooks and online software are an automated process and will be available to you immediately via a link sent to your email account. Any delays would be due to electronic server disruptions.
        For non-electronic products, as a rule, Airmail non-trackable and Airmail registered deliveries take 7 - 10 working days and Express deliveries take 2 - 4 working days.
        <br /><br />
        <strong>Remote delivery</strong><br />
        More remote areas may take longer to deliver and may incur a remote delivery fee if using DHL Express. You can check if your area is considered remote via http://www.dhl.com.au.
        <br /><br />
        <strong>Orders within Australia</strong><br />
        Australian orders are sent via Australia Post Express Post, or Registered Post, which include a track and trace facility. Quotes for delivery via road can be done on request. Although Australia Post has proven itself to be most reliable over the years, sometimes delays do occur. If you believe your order is delayed, your local post office can trace the article using the consignment number stored at the NOI office.
        <br /><br />
        <strong>Orders outside Australia</strong><br />
        Customers have a choice to send via Airmail non-trackable, Airmail registered or DHL Express trackable. For the Express option, a signature is required on delivery. If no-one is present to receive and sign for the delivery, our freight company will leave a card with instructions to contact them for an alternative delivery time.
        On large international orders, delays can occasionally occur at Customs. We will endeavour to keep you informed in such an event.
        <br /><br />
        <strong>Returns and refunds </strong><br />
        Please alert us within seven days from delivery to any defective goods, or goods which are not otherwise in accordance with the Customer’s order. We will discuss resolution on a case by case basis.
        <br /><br />
        <strong>Privacy policy</strong><br />
        Noigroup.com respects your right to privacy and we understand the inherent privacy risks involved in using the Internet. For this reason, we believe that you, our customer, have the right to know exactly how we collect and use information at our web pages. 
        What we collect: We can collect non-personally identifiable information about you in a number of ways, including tracking your activities through your IP address or most-recently-visited URL. However, we do not collect any personally identifiable information about you unless you voluntarily submit such information to us, such as by filling out a form or survey, registering your email address with us or emailing us. We may also collect personal information from you at other points on our site that state that personal information is being collected.  
        How we use it: Noigroup.com uses your information to return communication, better understand your needs and provide you with better service. Specifically, we use your information to help you complete a transaction, to communicate back to you and to update you on services and benefits. 
        We use information collected when users make online purchases, to check their qualifications, verify their identity, as well as for billing and shipping purposes. 
        Noigroup.com uses email as an avenue by which to provide customer service and technical support. We do not release any contact information about the user for any purpose. We may contact the customer using this information in an attempt to resolve a prior issue, proactively notify you of technical issues which may affect you, or if applicable, perform the services for which such data was collected (eg. if you sign up for an email newsletter, we will send the email newsletter to the address you provide us).  
        Who we share it with: Noigroup.com will not sell, rent, or lease your personally identifiable information to any third parties. For example we do not sell your email addresses or your name and personal demographic information to mass marketers. However, we might share your personally identifiable information with noigroup.com business partners who are acting on our behalf, such as course hosts.
        <br /><br />
        <strong>Security</strong><br />
        Noigroup.com is committed to ensuring the security of your information. To prevent unauthorised access or disclosure, maintain data accuracy, and ensure the appropriate use of information, we have put in place appropriate physical, electronic, and managerial procedures to safeguard and secure the information we collect online.
        <br /><br />
        <strong>Secure Socket Layer </strong><br />
        Secure Socket Layer (SSL) enables a web browser and a web server to communicate securely, and it allows the web browser to authenticate the web server. The SSL protocol requires the web server to have a digital certificate installed on it in order for an SSL connection to be made. 
        Information sent from forms on the noigroup.com website will be transferred using SSL. In your browser window look for a closed padlock icon. These icons show that the information you are submitting will be transferred in an encrypted form using SSL. Addresses on noigroup.com pages communicating via SSL will begin with \"https://\" rather than the more familiar \"http://\". 
        For more information on the noigroup.com privacy policy please email <a href="mailto:noi@noigroup.com ">noi@noigroup.com</a>, or use our Feedback Form, which is (of course) protected by SSL. 
        
    </p>
</div>

<app-footer></app-footer> 