
$red: #cf2e29;
$orange: #e86a10;
$blue: #3fa6cc;
$green: #00a651;
$purple: #892582;
$teal: #298094;
$black: #000000;

ul{color: $orange;}
ul span{color: $black;}
.courseimg{margin: 2rem;}

.oran{color: $orange;}
p{margin-top: 1rem;}

h2.bor{text-transform: uppercase; font-size: 1.25rem; margin-bottom: 1rem; font-family: 'proxima_novaextrabold'}

#dots2{width: 25rem; z-index: 2000; position: absolute; top: -2rem; left: -2rem; z-index: -1;}