.pane{margin-bottom: 2rem;}
.blogdate{color: #a1a1a1;}
.blog-article{margin-bottom: 2rem;}

.blog img{margin-bottom: 2rem;}

 .numslides img{margin-bottom: 1rem; margin-top: 1rem;}
 
 a:hover{text-decoration: none; color: #e86a10;}